<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="UserEndpoint" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="PeerEndpoint" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8812/service/user" binding="basicHttpBinding"
          bindingConfiguration="UserEndpoint" contract="ServiceReference.IUserService"
          name="UserEndpoint" />
      <endpoint address="http://localhost:8812/service/peer" binding="wsDualHttpBinding"
          bindingConfiguration="PeerEndpoint" contract="ServiceReference.ISubscription"
          name="PeerEndpoint">
        <identity>
          <userPrincipalName value="kashif.k@in.corp.tavant.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>