<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceRegistryBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceRegistryBehavior" name="ServiceRegistryWcfServiceLibrary.ServiceRegistry">
        <endpoint address="serviceregistry" binding="wsDualHttpBinding"
          bindingConfiguration="" name="DualHttpBindingEndpoint" contract="ServiceRegistryWcfServiceLibrary.IServiceRegistry" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="MexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8800" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>