<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServiceName" value="localhost:8811"/>
    <add key="PeerServers" value="http://localhost:8812/service/peer;http://localhost:8813/service/peer"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="WcfServiceLibrary.ObservableService">
        <endpoint address="user" binding="basicHttpBinding" bindingConfiguration=""
          name="UserEndpoint" contract="WcfServiceLibrary.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="MexEndpoint" contract="IMetadataExchange" />
        <endpoint address="peer" binding="wsDualHttpBinding" bindingConfiguration=""
          name="PeerEndpoint" contract="WcfServiceLibrary.ISubscription" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8811/service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>