<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceRegistryBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceRegistryBehavior" name="ServiceRegistryWcfServiceLibrary.ServiceRegistry">
        <endpoint address="serviceregistry" binding="wsDualHttpBinding"
          bindingConfiguration="" name="DualHttpBindingEndpoint" contract="ServiceRegistryWcfServiceLibrary.IServiceRegistry" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="MexEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8800" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>
